.header {
    max-width: 1800px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1820px) {
        margin: 50px 10px 0 10px;
    }

    @media screen and (max-width: 1440px) {
        max-width: 1320px;
    }

    @media screen and (max-width: 1200px) {
        max-width: 1000px;
    }

    @media screen and (max-width: 1024px) {
        max-width: 950px;
    }

    @media screen and (max-width: 768px) {
        max-width: 700px;
    }

    @media screen and (max-width: 480px) {
        max-width: 450px;
        margin: 20px auto 0 auto;
    }
}

/* Left side */

.leftSide {
    display: flex;
    gap: 65px;
    align-items: center;
}

.logoContainer {
    display: flex;
    gap: 40px;
    align-items: center;
}

/* Burger menu */
.burgerCheckbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 22px;
    height: 14px;
}

.burger::before,
.burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #000;
}

.burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
}

.burger::after {
    bottom: 6.5px;
    transition: bottom .3s .15s, transform .3s;
}

.burgerCheckbox:checked+.burger::before {
    top: 2px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
}

.burgerCheckbox:checked+.burger::after {
    bottom: 10px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
}

/* Logo */
.logo {
    display: flex;
}

/* Menu */
.menu {
    display: flex;
    gap: 40px;
    align-items: center;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.menuItem {
    cursor: pointer;
    display: flex;
    gap: 4px;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.44px;
}

.active,
.menuItem:hover {
    color: #FF8E8E;
}

.arrowDefault {
    display: inline-block;
}

.arrowHover {
    display: none;
}

.active .arrowDefault,
.menuItem:hover .arrowDefault {
    display: none;
}

.active .arrowHover,
.menuItem:hover .arrowHover {
    display: inline-block;
}

.blog,
.contact {
    @media screen and (max-width: 990px) {
        display: none;
    }
}

/*Right side */

.rightSide {
    display: flex;
    gap: 40px;
    align-items: center;
}

.headerIcon {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.counter {
    background: black;
    color: var(--primary-white-color);
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;

    @media screen and (max-width: 480px) {
        display: none;
    }
}