.buttonWrapper {
    display: flex;
    gap: 2px;
    max-width: 240px;
    width: 100%;
    cursor: pointer;
}

.button {
    color: var(--primary-white-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    background-color: var(--primary-color);
    padding: 17px 74px 17px 74px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.verticalLine {
    min-width: 2px;
    background: var(--primary-color);
}
